body {
    margin: 0;
    padding: 0;
    background: url('https://as2.ftcdn.net/v2/jpg/05/85/26/13/1000_F_585261318_ounoqTnoTha7vQYEwh8eL6E5kTZv9RQB.jpg');
    background-size: cover;
    width: 97rem;
    height: 50rem;
}
